body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #FFF266;
  }

  .index {
    min-height: 100vh;
    background-image: url("https://www.urbangym.dk/sites/default/files/imageblock/bg_hp_01.png");
  }

  .nav {
    background-color: #FFF266;
  }
